.neon {
    color: #26FFCB !important;
    font-weight: 400;
}
.neon-bg {
    background-color: #26FFCB !important;
}
.bg-dark{
    background-color: #16252D !important;
}
.bg-secondary{
    background-color: #1F3540 !important;
}